# exclude images used in light dark
01/*
!01/images
!01/code

*.zip
*.tgz
*.csv
*.JPEG

01/images/*
!01/images/used_images

01/images/used_images/*
!01/images/used_images/light_dark
!01/images/used_images/examples


# single files
01/code/tasks/2.2/contrast.ipynb
01/code/tasks/2.2/dark.ipynb

*wandb*

03/image
03/imagewoof2-160

04/data/test
04/data/training
04/data/test_reshaped
04/data/training_reshaped
04/data/test_reshaped_stretch
04/data/training_reshaped_stretch

**.pth

