# exclude images used in light dark
01/*
!01/images
!01/code



01/images/*
!01/images/used_images

01/images/used_images/*
!01/images/used_images/light_dark


# single files
01/code/tasks/2.2/contrast.ipynb
01/code/tasks/2.2/dark.ipynb